.titelContainer {
  margin-top: 2em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.heroBodyContainer {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.macawBild {
  width: 50%;
  margin-bottom: 3em;
}
